*{
    color: rgb(10, 10, 70);
}

body{
    background-color: rgb(220, 220, 225);
    
    
}

p{
    text-indent: 1em;
}

h1{
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    letter-spacing: 0.2em;
    color: rgb(0, 116, 193);
    font-size: xx-large;
}

h2{
    margin-top: 60px;
    
    color: black;
    border-bottom: solid 2px black;
    border-left:   solid 12px black;
    
    padding: 8px;
    
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
h2:before {
}
h3{
    margin-top: 60px;
    border-bottom: solid 1px grey;
}

h3:before{
}

.inner_pane{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    background-color: white;
    padding: 60px;
    border-radius: 16px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
}

dfn{
    font-weight: bold;
    font-style: normal;
}

div.source_file_name{
    font-size: small;
    color: grey;
}


pre.ts{
    border-left:   solid 6px rgba(0,0,200,0.4);
    border-right:  solid 6px rgba(0,0,200,0.4);
    border-top:    solid 1px rgba(0,0,200,0.4);
    border-bottom: solid 1px rgba(0,0,200,0.4);
    border-radius: 4px;
    padding: 8px;
}

pre.js{
    border-left:   solid 6px rgba(0,200,0,0.4);
    border-right:  solid 6px rgba(0,200,0,0.4);
    border-top:    solid 1px rgba(0,200,0,0.4);
    border-bottom: solid 1px rgba(0,200,0,0.4);
    border-radius: 4px;
    padding: 8px;
}

pre.sh{
    border-left:   solid 6px rgba(200,0,0,0.4);
    border-right:  solid 6px rgba(200,0,0,0.4);
    border-top:    solid 1px rgba(200,0,0,0.4);
    border-bottom: solid 1px rgba(200,0,0,0.4);
    border-radius: 4px;
    padding: 8px;
    background-color: black;
    color: white;
}

dt{
    margin: 8px;
}
dd{
    margin: 8px;
    margin-left: 2em;
    font-size: small;
}

span.var{
    font-style: italic;
}

span.preserved{
    font-weight: bold;
}

span.comment{
    color: rgba(0, 0, 0, 0.5);
}

footer{
    text-align: center;
}

div.menu{
    border: solid 1px grey;
    width: 16em;
}
