.tool_simple_polygon{
    background-image: url(polygon.svg);
}

.tool_polygon_edit{
    background-image: url(polygon_edit.svg);
}

.tool_rect{
    background-image: url(rect.svg);
}


.tool_ball{
    background-image: url(ball.svg);
}

.tool_box{
    background-image: url(crate.png);
}

.tool_paste{
    background-image: url(paste.svg);
}